/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Country-list
        4.3 Search by country
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/*CSS Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------- 2. Typography ----------------------------------- */
.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: gold;
}

.purple {
    color: purple;
}

.grey {
    color: grey;
}

h1 {
    font-size: 2.5rem;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    text-align: center;
    padding-bottom: 1rem;
}

header img {
    width: 100%;
}
/* --------------- 4.2 Country-list ------------------- */
.country-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: whitesmoke;
}

.country-cards {
    flex-basis: calc((100% - 5rem) / 3);
}

.country-list li img {
    width: 50px;
}

.card-header {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 1rem;
}

/* --------------- 4.3 Search by country ------------------- */
.search-country {
    text-align: center;
}

.search-country-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-country-content img {
    width: 50%;
}

/* ------------------------------- 5. Media Queries -------------------------------- */