/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/*CSS Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------- 2. Typography ----------------------------------- */
.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}

.grey {
    color: grey;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Country-list ------------------- */
.country-list {
    list-style: none;
}

.country-list li img {
    width: 50px;
}
/* ------------------------------- 5. Media Queries -------------------------------- */